<% include ../partials/header.ejs %>
<div class="container">
    <div class="jumbotron" text = center>
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "Contact Me") { %>
      <div class="container">
    <p>Please click the button below and Use the form below to drop me an email. Also,can call me on 416-464-0943</p>
      <a class="btn btn-danger" href="/fillform" role="button">Click Me</a>
  
         </div>

  </div>
      <% } %>
      

<% include ../partials/footer.ejs %>