<% include ../partials/header.ejs %>
<div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "Home") { %>
           
     
   
      
    
    
    <i><b> I am going to build my first Node.js website to explore my other design work collections
    for my future career. From this website, viewers can see my work.
     </b></i><br>
       <a class="btn btn-danger" href="/about" role="button">About Me</a>
    </div>
  </div>     
      <% } %>
        
      </div>
      </div>

<% include ../partials/footer.ejs %>