<% include ../partials/header.ejs %>

  <!-- Content goes here --> 

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "Projects") { %>
       <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Project Name</th>
                <th scope="col">Discription</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <th scope="row">Software Project Development</th>
                <td>Application developer can keep track of every upcomming and released events
                    Project Manager can add and delete task 
                    Developer can </td>
                </tr>
                <tr>
                <th scope="row">Database</th>
                <td>SQL, MySQL, Oracal</td>
              </tr>
              <tr>
              <th scope="row">Web Technology</th>
                <td>Asp.net, HTML, Java Script, CSS</td>
                </tr>
                
            </tbody>
          </table>
    </div>
  </div>
      <% } %>
      

<% include ../partials/footer.ejs %>