<% include ../partials/header.ejs %>

  <!-- Content goes here --> 

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "Services") { %>
       <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Technical Skills</th>
                <th scope="col">Service</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <th scope="row">Operating System</th>
                <td>Windows,Linux,Unix</td>
                </tr>
                <tr>
                <th scope="row">Database</th>
                <td>SQL, MySQL, Oracal</td>
              </tr>
              <tr>
              <th scope="row">Web Technology</th>
                <td>Asp.net, HTML, Java Script, CSS</td>
                </tr>
                
            </tbody>
          </table>
    </div>
  </div>
      <% } %>
      

<% include ../partials/footer.ejs %>